.example {
  background-color: #f2f2f2;
}

.example__wrapper-top {
  width: 87.5%;
  margin: 0 auto;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 17px;
  padding-bottom: 17px;
}

.example__description {
  margin-top: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

.example__specifications {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.example__amount {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 12px;
  border: 1px solid grey;
  border-radius: 3px;
  padding-bottom: 17px;
}

.example__done {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  align-self: center;
  background-color: #f2f2f2;
  width: 82px;
  transform: translateY(-8px);
}

.example__feature {
  width: 44%;
  flex-direction: column;
  display: flex;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 9px;
  text-align: center;
  padding-bottom: 9px;
}

.example-slider__item {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.example-slider__item--hidden {
  display: none;
}

.example-slider__controls {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: flex-start;
  padding-bottom: 35px;
}

.example-slider__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.example-slider__range {
  position: relative;
  width: 84px;
  margin: 2px 18px 0;
}

.example-slider__scale {
  background-color: white;
  border: 1px solid #cdcdcd;
  height: 12px;
  border-radius: 5px;
}

.example-slider__button {
  border: none;
  background-color: #68b738;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  position: absolute;
  top: 4px;
  left: 5px;
  transition: all 0.3s ease-in-out;
}

.example-slider__item--before img {
  width: 311px;
  height: 240px;
}

.example-slider__item--after img {
  width: 251px;
  height: 240px;
}


@media (max-width: 767px) {
  .example-slider__item--after {
    display: none;
  }

  .example-slider__before:checked ~ .example-slider__items .example-slider__item--before {
    display: flex;
  }

  .example-slider__after:checked ~ .example-slider__items .example-slider__item--after {
    display: flex;
  }

  .example-slider__after:checked ~ .example-slider__items .example-slider__item--before {
    display: none;
  }

  .example-slider__before:checked ~ .example-slider__controls .example-slider__button {
    left: 5px;
  }

  .example-slider__after:checked ~ .example-slider__controls .example-slider__button {
    left: 44px;
  }
}

@media (min-width: 768px) {
  .example {
    background-color: white;
  }

  .example__wrapper-top {
    width: 92%;
    padding-bottom: 34px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 11px;
    margin-bottom: 41px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 49px;
  }

  .example__wrapper__bottom {
    display: flex;
  }

  .example__specifications {
    width: 51.5%;
    margin-right: auto;
  }

  .example__amount {
    font-size: 30px;
    line-height: 37px;
  }

  .example__done {
    background-color: white;
    font-size: 14px;
    line-height: 14px;
    width: 82%;
  }

  .example__cost {
    font-size: 20px;
    line-height: 28px;
    width: 27%;
    text-align: right;
    padding-top: 5px;
  }

  .example-slider__item--before img {
    width: 690px;
    height: 517px;
    max-width: 690px;
  }

  .example-slider__item--after img {
    width: 690px;
    height: 517px;
    max-width: 690px;
  }

  .example-slider__item {
    padding-top: 41px;
    position: relative;
    z-index: 1;
  }

  .example-slider__item--before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    justify-content: flex-start;
    overflow: hidden;
    padding-bottom: 109px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 209px, #f2f2f2 209px, #f2f2f2);
    transition: all 0.3s ease-in-out;
  }

  .example-slider__items::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: auto;
    bottom: 0;
    width: 690px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 209px, #eaeaea 209px, #eaeaea);
  }

  .example__color-background {
    background-image: linear-gradient(to bottom, #ffffff 209px, transparent 209px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example-slider {
    position: relative;
    width: 677px;
    margin: 0 auto;
    padding-bottom: 68px;
  }

  .example-slider__controls {
    position: relative;
    z-index: 3;
    padding-top: 15px;
    padding-bottom: 0;
  }

  .example-slider__label {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;
  }

  .example-slider__label:hover {
    border-bottom: 1px solid rgba(#000000, 0.3);
  }

  .example-slider__label:active {
    border-bottom: none;
  }

  .example-slider__range {
    width: 428px;
    margin: 7px 22px 0;
  }

  .example-slider__scale {
    background-color: #dcdcdc;
    border: none;
    border-radius: 0;
    height: 6px;
  }

  .example-slider__button {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -17px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .example-slider__button::before {
    position: absolute;
    top: 37%;
    left: 37%;
    content: "";
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
  }

  .example-slider__button:hover {
    box-shadow: 0 3px 5px 0 rgba(17, 17, 17, 0.3);
  }

  .example-slider__button:active {
    border: 2px solid #68b738;
  }

  .example-slider__items {
    display: flex;
  }

  .example-slider__before:checked ~ .example-slider__items .example-slider__item--before {
    width: 100%;
  }

  .example-slider__after:checked ~ .example-slider__items .example-slider__item--before {
    width: 0%;
  }

  .example-slider__after:checked ~ .example-slider__controls .example-slider__button {
    left: 100%;
  }

  .example-slider__before:checked ~ .example-slider__controls .example-slider__button {
    left: 1%;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .example-slider__item--before img {
      width: 690px;
      height: 517px;
      max-width: 690px;
    }

    .example__color-background {
      overflow: hidden;
    }

    .example-slider__items {
      display: block;
    }
  }
}

@media (min-width: 1300px) {
  .example__wrapper {
    display: flex;
    width: 1220px;
    margin: 0 auto;
  }

  .example__wrapper-top {
    width: 36%;
    margin: 0;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 33px;
  }

  .example__title {
    padding-top: 39px;
    margin-bottom: 123px;
  }

  .example__description {
    margin-bottom: 64px;
  }

  .example__wrapper__bottom {
    flex-wrap: wrap;
  }

  .example__specifications {
    width: 83.5%;
    margin-bottom: 39px;
  }

  .example__cost {
    width: auto;
    text-align: left;
    display: flex;
  }

  .example__cost-desc {
    margin-right: 59px;
    width: 178px;
    display: flex;
  }

  .example__cost-price {
    width: 95px;
    display: flex;
  }

  .example {
    background-image: linear-gradient(to bottom, #ffffff 209px, transparent 209px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example__done {
    background-color: #f2f2f2;
  }

  .example-slider__item {
    padding-top: 24px;
  }

  .example-slider {
    width: 651px;
    padding-bottom: 69px;
  }

  .example-slider__controls {
    justify-content: flex-end;
    padding-top: 30px;
  }

  .example-slider__item--before {
    width: 56%;
    padding-bottom: 125px;
  }
}
