.filters {
  width: 87.5%;
  margin: 0 auto;
}

.filters__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.filters__list {
  display: flex;
  flex-direction: column;
}
