.form {
  border-top: 1px solid #ededed;
}

.form__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 90%;
  padding-top: 15px;
  margin-bottom: 40px;
}

.form__wrapper-title {
  width: 87.5%;
  margin: 0 auto;
}

.form__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.form__wrapper-bottom {
  width: 87.5%;
  margin: 0 auto;
}

.form__button {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

.form__desc {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .form {
    border-top: none;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .form__wrapper-title {
    width: 92.5%;
    margin-bottom: 66px;
    margin-top: 40px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    width: 48%;
    margin-bottom: 0;
  }
}
