.form {
  border-top: 1px solid #ededed;
}

.form__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 90%;
  padding-top: 15px;
  margin-bottom: 40px;
}

.form__wrapper-title {
  width: 87.5%;
  margin: 0 auto;
}

.form__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
}
