.page-header__logo-wrapper {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 87.5%;
  margin: 0 auto;
}

.page-header__logo {
  display: flex;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .page-header {
    width: 92.5%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }

  .page-header__logo-wrapper {
    width: auto;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 0;
    margin-right: auto;
  }
}

@media (min-width: 1300px) {
  .page-header {
    width: 1220px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }

  .page-header__logo-wrapper {
    padding-top: 54px;
  }

  .page-header--catalog .main-nav__list-link {
    color: black;
  }

  .page-header--catalog .main-nav__list-link--active::after {
    background-color: #68b738;
  }
}
