.programs__wrapper {
  width: 87.5%;
  margin: 0 auto;
  margin-top: 22px;
}

.programs__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 31px;
  padding-left: 71px;
  padding-bottom: 20px;
  padding-right: 25px;
}

.programs__icon {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  top: 24px;
  left: 22px;
}

.programs__icon-slim {
  position: absolute;
  top: -2px;
  left: 8px;
}

.programs__icon-pro {
  position: absolute;
  top: 11px;
  left: -9px;
}

.programs__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  padding: 11px 0 11px 0;
  margin-bottom: 11px;
  position: relative;
  width: 100%;
}

.programs__link {
  color: #000000;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 22px;
  padding-right: 40px;
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.programs__text::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ececec;
  left: 0;
  bottom: -12px;
}

.programs__link::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  right: 5px;
  top: 3px;
  width: 24px;
  height: 11px;
}

.programs__link:hover::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon-right-arrow-verylong.svg");
  background-repeat: no-repeat;
  right: -5px;
  top: 3px;
  width: 34px;
  height: 12px;
}

@media (min-width: 768px) {
  .programs__wrapper {
    width: 92.5%;
    margin: 22px auto 0;
  }

  .programs__title {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 37px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 14px;
  }

  .programs__item {
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 45px;
    margin-bottom: 30px;
    padding-bottom: 39px;
  }

  .programs__text {
    font-size: 16px;
    line-height: 24px;
    width: 62%;
    margin-bottom: 26px;
  }

  .programs__text::after {
    display: none;
  }

  .programs__item:nth-child(2) .programs__text {
    width: 57%;
  }

  .programs__icon {
    top: 92px;
    right: 63px;
    left: auto;
    width: 200px;
    height: 200px;
  }

  .programs__icon-slim {
    position: absolute;
    top: -12px;
    left: 30px;
    width: 140px;
    height: 194px;
  }

  .programs__icon-pro {
    position: absolute;
    top: 42px;
    left: -34px;
    width: 268px;
    height: 112px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
    padding-right: 52px;
  }
}

@media (min-width: 1300px) {
  .programs__wrapper {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
  }

  .programs__title {
    padding-left: 160px;
    margin-bottom: 49px;
  }

  .programs__icon {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }

  .programs__icon-slim {
    top: -6px;
    left: 14px;
    width: 70px;
    height: 97px;
  }

  .programs__icon-pro {
    top: 22px;
    left: -18px;
    width: 134px;
    height: 56px;
  }

  .programs__item {
    width: 570px;
    box-sizing: border-box;
  }

  .programs__item:nth-child(2n + 1) {
    margin-right: auto;
  }

  .programs__text {
    width: 100%;
    margin-bottom: 0;
  }

  .programs__item:nth-child(2) .programs__text {
    width: 100%;
  }

  .programs__wrapper .programs__item {
    margin-bottom: 29px;
  }
}
