@import "normalize.scss";
@import "fonts.scss";
@import "global.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/promotion.scss";
@import "blocks/button.scss";
@import "blocks/programs.scss";
@import "blocks/explanation.scss";
@import "blocks/example.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog.scss";
